/* Custom scrollbars for panels */
.scroll-panel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll-panel::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 8px;
  border: 2px solid #1f2937; /* gray-800 */
}
.scroll-panel::-webkit-scrollbar-thumb:hover {
  background-color: #10b981; /* emerald-500 */
}
.scroll-panel::-webkit-scrollbar-track {
  background-color: #0b1220; /* custom dark bg */
}

